body {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
footer {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #B4CF66;
}
header {
    background-color: #FF5A33;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
a:hover {
    color: green;
}
.no-underline {
    text-decoration: none;
}
#recipe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto, auto, 1fr, 1fr;
}
#recipe1 {
    grid-column-start: 1
}
#recipe2 {
    grid-column-start: 2
}
#recipe3 {
    grid-column-start: 3
}
#recipe4 {
    grid-column-start: 4
}
#recipe5 {
    grid-column-start: 1
}
#main-title {
    grid-row-start: 1;
    color: green;
}
#sub-title {
    grid-row-start: 2;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
